{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MTG</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'cards/styles/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'cards/styles/cover.css' %}" rel="stylesheet">
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <header class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">Magic: the Gathering</a></h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/admin">Admin</a>
                        {% if request.user.is_authenticated %}
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ request.user.username }} ({{ request.user.profile.money }})
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </div>
                        {% else %}
                            <a class="nav-link" href="/login">Login</a>
                        {% endif %}
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                {% block content %}
                {% endblock %}
            </main>

            <footer class="mastfoot">
                <div class="inner">
                    <p>by <a href="https://github.com/nickshch/">@nickshch</a>.</p>
                </div>
            </footer>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'cards/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'cards/js/popper.js' %}"></script>
<script src="{% static 'cards/js/bootstrap.min.js' %}"></script>
</body>
</html>